# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\react-projects\youtube-clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
